#/-------------------[DOTENV_PUBLIC_KEY]--------------------/
#/            public-key encryption for .env files          /
#/       [how it works](https://dotenvx.com/encryption)     /
#/----------------------------------------------------------/
DOTENV_PUBLIC_KEY="0306644b110b64d34f95f79f0d13fa206f2b6aae9da95c12537a3cc235e729a816"

# .env
VERCEL_API_TOKEN="encrypted:BA8v3EWlrafHHoZ/g2BWK35WfmMK/ERcjT7nA7PhIuKgD8Z6umHOKPWNrcRvYcnvz4474pwi3ysNEXtnIoFapwMuOptjYFLUZ2NE3KbvWrhn1t0umB+eJWaludt01r1aR2V8809WtkhZQAWPVniRsbfGrX3LoVSQ6uH+zYxfUA=="
