#/-------------------[DOTENV_PUBLIC_KEY]--------------------/
#/            public-key encryption for .env files          /
#/       [how it works](https://dotenvx.com/encryption)     /
#/----------------------------------------------------------/
DOTENV_PUBLIC_KEY_PREVIEW="03cf4f64757f071e67f4ac7f77e32f545eff8438f891cc0948b2b944a7035e553b"

# .env.preview
VERCEL_ENVIRONMENT="encrypted:BF83wpn9W9USs2g6gnwK1bcfh3iSwcjSjS4XEeLfk5OY7jPFPRVTCdvwBbx8kBxJZUN1Wle1JcqpW2Ba2yMQNcREM0U+3SFGw2jXcb5s5RKM2+njx8Nl/zGFpfeT1+9XPSXJRZLPXZI="
