#/-------------------[DOTENV_PUBLIC_KEY]--------------------/
#/            public-key encryption for .env files          /
#/       [how it works](https://dotenvx.com/encryption)     /
#/----------------------------------------------------------/
DOTENV_PUBLIC_KEY_DEVELOPMENT="03b635c3cd829357dbe676cfc72d2c8ea7209de66e7f0e4c8336382986de99adf6"

# .env.development
VERCEL_ENVIRONMENT="encrypted:BC7ZYq8Ys5pC0JqjIKXhvztYt1+teSfxufzt4tHBh5+Z+es7+bz67qxafhOK+ZwhGCd91KiSJLWeuJYZ+fW/ywlXP0+riMpe16FEnYj2BH+C81Ks7TlxfKVmj1+2PDTBLuIpnoRHxs5d8RZv"
