#/-------------------[DOTENV_PUBLIC_KEY]--------------------/
#/            public-key encryption for .env files          /
#/       [how it works](https://dotenvx.com/encryption)     /
#/----------------------------------------------------------/
DOTENV_PUBLIC_KEY_PRODUCTION="02b2729cdc2fdcb093190d684b2d91e5f5d858ea4a4d73eeac4cda0338563fdba4"

# .env.production
VERCEL_ENVIRONMENT="encrypted:BA2b9hiGG3ZVwFQAn9GTHZsQ/LMytbAXZCTk4yX43stRL1HwNKNMOhKdBQ3rqC82OWiAw24o49GgP4NYamnnYqDv8ERvMuUa84iihDKwN9T4yeooAEg91MPiUtMERzMN0raD20Tky4WiIXo="
