#/------------------!DOTENV_PRIVATE_KEYS!-------------------/
#/ private decryption keys. DO NOT commit to source control /
#/     [how it works](https://dotenvx.com/encryption)       /
#/----------------------------------------------------------/

# .env
DOTENV_PRIVATE_KEY=01a534ec8da352412c87b68eb21395e031f01faf748839aeeabb30ea615ae455

# .env.preview
DOTENV_PRIVATE_KEY_PREVIEW=61a5878eac58f59b446253963dfa9b4e63f62238e5de4b8a761c915ee0ce1615

# .env.development
DOTENV_PRIVATE_KEY_DEVELOPMENT=92e646c8218daa57f2292efb38bb236944b770f46212a0e13a4ce4dbcc2cbf67

# .env.production
DOTENV_PRIVATE_KEY_PRODUCTION=2da79f201afff6b24e38d6ae8239141941fbe4650eb5c8f7909f99e4c0118b15
