# gitignore overrides for example purposes

# INCLUDE the example `.env` files
!.env.example
!.env.*.example


# INCLUDE the example `.env.keys.example` file  (this would normally be excluded)
!.env.keys.example
