#/-------------------[DOTENV_PUBLIC_KEY]--------------------/
#/            public-key encryption for .env files          /
#/       [how it works](https://dotenvx.com/encryption)     /
#/----------------------------------------------------------/
DOTENV_PUBLIC_KEY="0306644b110b64d34f95f79f0d13fa206f2b6aae9da95c12537a3cc235e729a816"

# .env
HELLO=encrypted:BG3/jj0xnXasqr1iE3C/4Gu0fVC6sOoACHxc+5y3ZT8Hd3ykxdypCcQm2/zL5ILjpdKHYK5KcXE8II8j9pvrQt/Me3UMJOCElEzFvIo1UdWTDaS4z51HeAb7tFTKzvt2vKyAfZog
